body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #e9ecef; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
.gameForm {
    background-color: #e9ecef;
    /* max-width: 500px; */
    width: 1130px;
    /* background: #ffffff; */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    color: #343a40;
}
h3 {
    margin: 15px 0;
    color: #495057;
}

/* .btn-ai{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
} */

input[type="text"], input[type="submit"] {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
input[type="text"]:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
input[type="submit"]:hover {
    background-color: #0056b3;
    transition: background-color 0.3s;
}
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ced4da;
}
.match-list {
    margin-top: 20px;
    text-align: left;
}
.match-item {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.join-button:hover {
    background-color: #218838;
}